@charset "utf-8";
/* CSS Document */





.sliderWrap{
	width:1170px;
	height:500px;
	
	/*background:transparent url(images/banner_bg.png) no-repeat center bottom;	*/
}

#wrapper, #wrapper_2, #wrapper_3, .wrapper_4{width:1170px;margin:0 auto; margin-bottom:0px;}
#wrapper{
	width:100%;
	margin:auto;
	/*background-color:#fff;
	border-top:3px solid #007cc2;
	border-bottom: 5px solid #F5F5F5;*/
}

#wrapper_2{
	margin-top:10px;
}


#header{
	width:1170px;
	height:210px;
	padding-top:10px;
	margin:auto; 
	display:block;
	position:relative;
}

#y_logo{
	/* position:absolute; */
	width:407px;
	height:63px;
	margin:auto;
	/* left:156px;
	top:10px; */
	background:url(images/yazi_logo32.png) no-repeat 0 0;
}
#y_logo a{
	width:407px; height:63px; display:block;text-indent:-9999px;
}

	#logo{width:155px;height:100px; background:transparent url(images/logo.png) no-repeat 0 0px;
	display:block;
	margin:auto;
	}
		#logo a{width:129px; height:100px; display:block;}
		#logo h1{text-indent:-9999px; line-height:5px;}
	#menu_2{float:right;}
	#menu_2 ul  li{display:inline;margin-left:5px;}
	#menu_2 ul  li a{color:#ccc;}
	
	.menu_wrap{
		background: transparent url(images/menu-bg.png) no-repeat 0 0;
		height:65px;
	}
	
	
	
	ul.flag{position:absolute;right:0;top:2px;}
	ul.flag li{display:inline;}
	
	
	
	
	
	.grid_7{
		background:#fff url(images/box-1.png) 0 0 repeat;
		border-radius: 5px;
		border-bottom: #fbfbfb 1px solid;
		border-right: #fbfbfb 1px solid;
		margin-top: 10px;
		padding: 10px 10px 16px 10px;
		position: relative;
		width:330px;
		font-family: 'Varela', sans-serif;
		box-shadow: 0 2px 6px rgba(0,0,0,0.4);
		text-shadow: 1px 1px 1px rgba(225,225,225,0.9);
		margin-bottom:10px;
	}
	
	
	.indent-1 {
		margin: 0px 0px 20px 0px;
		background:transparent url(images/title4.png) no-repeat bottom left;
		font-family: 'Francois One', sans-serif;
	}
	
	h5.indent-3{
		margin: 0px 0px 20px 0px;
		background:transparent url(images/title5.png) no-repeat bottom left;
		font-family: 'Francois One', sans-serif;
		font-size:16px;
		line-height:18px;padding-bottom:15px;
	}
	
	
	
	.grid_v{
		border-radius: 5px;
		box-shadow: 0 2px 6px rgba(0,0,0,0.4);
		text-shadow: 1px 1px 1px rgba(225,225,225,0.9);
	}
	
	#tel{width:212px;height:46px;background:url(images/tel.png) no-repeat 0 0;float:right;margin-top:20px;}
	.container_1 {
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
		position: relative;
	}
	.container_2{
		width:1130px;
		background-color:#fff;
		position: relative;
		margin:10px auto;
		padding:20px 20px 10px;
		color: #000;
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}
	
	.container_2  dd ul li {
		padding-left:15px;
		background: url("images/bullet.png") no-repeat scroll left 6px transparent;
	}
	.right_column  ul li {
		padding-left:15px;
		background: url("images/bullet.png") no-repeat scroll left 6px transparent;
	}
		.p2 {
			margin: 10px 0 10px 0;
		}
		.map {
			width: 450px;
			height: 260px;
			margin: 0;
		}
		.img-border {
			border: gainsboro 7px solid;
		}
		dl.adrss {margin-top: 22px;}
		
		dl.adrss dd span {
			display: block;
			width: 90px;
			float: left;
		}
		
		#form { width:300px; margin-top:30px; }
#form input {float:left; border:#d2d2d2 1px solid; background:transparent; width:326px; padding:12px 10px 12px 12px; font-size:13px; height:16px; font-family:Arial, Helvetica, sans-serif; color:#83868a; margin:0; outline: medium none;}
#form textarea {
	border:#d2d2d2 1px solid; background:transparent; width:400px; padding:12px 0px 0px 12px; font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#83868a;
    height: 178px;
    outline: medium none;
    overflow: auto;
	resize:none;
	margin:0px 0 0 0;
	float:left;
}
#form label {
	position:relative;
	overflow:hidden;
    display: inline-block;
    min-height:57px;
}
/*
#form .error, #form .empty {
    color: #FF0000;
    display: none;
    font-size: 11px;
	line-height:14px;
	width:170px;
	float:left;
	margin-top:2px;
}*/
#form .error-empty {margin: 2px 0 3px 5px !important; display:none; float:left;}
#form .success {display:none; padding-bottom:10px;}
#form .btns {
	text-align:right;
	width:auto;
	position:relative;
	overflow:hidden;
	margin-top:10px;
}
#form .btns .button-1 {padding:10px;}
#form .btns a {margin-left:20px; ma}
	.fl{float:left;}
	.fr{float:right;}
	
	.container_1 .grid_1 {width: 260px;}
	.container_1 .grid_2 {width: 220px;}
	.container_1 .grid_3 {width: 1170px;}
	.container_1 .grid_4 {width: 550px;}
	.container_1 .grid_7 {width: 400px; margin-right:10px;}
	.container_2 .grid_5 {width: 460px;}
	.container_2 .grid_6 {width: 450px;}
	
	.grid_1 , .grid_2, .grid_5{
		display: inline;
		float: left;
		position: relative;
		margin: 0 26px 0 0;
	}
	.grid_6{
		display: inline;
		float: left;
		position: relative;
		margin: 0 0 0 0;
	}
	
	.grid_1 {margin-right:10px;margin-left:10px;}
	.grid_2{margin-right:0;}
	
	.box-1 , .box-2{
		background:url(images/box-1.png) 0 0 repeat; 
		border-radius:5px; 
		border-bottom:#fbfbfb 1px solid; 
		border-right:#fbfbfb 1px solid; 
		text-align:center; 
		margin-top:67px; 
		padding: 66px 14px 16px 14px; 
		position:relative;
	}
	.box-2{margin-top:40px;}
	.box-1>div, .box-2>div{
		position:absolute; 
		top:-43px; 
		left:80px; 
		width:102px; 
		height:102px;
	}
	.box-2>div{top:20px;left:0;}
	.box-1 .icon-1 {background:url(images/icon-1.png) 0 0 no-repeat;}
	.box-2 .icon-1 {background:url(images/icon-1.png) 0 0 no-repeat;}
	.box-1 .icon-2 {background:url(images/icon-2.png) 0 0 no-repeat;}
	.box-1 .icon-3 {background:url(images/icon-3.png) 0 0 no-repeat;}
	.box-1 .icon-4 {background:url(images/icon-4.png) 0 0 no-repeat;}
	.box-1 .icon-5 {background:url(images/icon-5.png) 0 0 no-repeat;}
	.box-1>span, .box-2>span {
		line-height:1.2em; 
		font-size:16px; 
		text-shadow:#fff 1px 1px 1px; 
		color:#303030;
		font-weight:normal; 
		font-family: 'Oswald', sans-serif; 
		text-transform:uppercase;
	}
	.box-1>span>span {font-size:20px; display:block;line-height: 1.8em;}
	.box-2>span>span {font-size:20px; display:block;}
	.box-1 p {margin:1px 0 1px 0;}
	.box-1 a {display:inline-block; width:35px; height:35px; background:url(images/btn-2.png) 0 0 no-repeat;}
	.box-2 a {display:inline-block; width:35px; height:35px; background:url(images/btn-2.png) 0 0 no-repeat;}
	.box-1 a:hover {background-position: 0 bottom;}
	.box-2 a:hover {background-position: 0 bottom;}
	.box-1:hover>div {background-position: 0 bottom;}
	.box-2:hover>div {background-position: 0 bottom;}
	.box-1:hover {color:#343434; background:#f8ca13;}
	.box-2:hover {color:#343434; background:#f8ca13;}
	
	.slogan {border-top:#cbcbcb 1px solid; border-bottom:#cbcbcb 1px solid; overflow:hidden; margin:40px 0 0 0; padding:21px 0 22px 0; background-color:#f5c300;}
	.slogan .button-1 {float:right;}
	.slogan h5 {margin:4px 0 6px 0;font-family: 'Racing Sans One', cursive; font-size:32px;line-height:38px;text-align:center;}
	.slogan>div {overflow:hidden;}
	.extra-wrap{overflow:hidden;display:block;}
	a.button-1, a.button-3 {background: url(images/btn-1.jpg) 0 0 repeat-x #e6e6e6; display:inline-block; vertical-align:top; border-bottom:#cfcfcf 1px solid; font-size:12px; line-height:15px; color:#1e2327; text-shadow:#eeeeee 1px 1px 1px; padding:25px 13px 25px 13px; border-radius:5px; text-transform:uppercase;}
	a.button-1:hover, a.button-3:hover {background: #facc1a; color:#fff;  text-shadow:none;}
	a.button-3{padding:5px 5px 5px 5px;}
	
	.indent-2 {margin: 40px 0px 21px 0px;}
	
	.wrap {
		overflow: hidden;
		margin-bottom: 31px;
	}
	.block-1 {padding-bottom:17px;}
	#mycarousel li {
		overflow:hidden;
		padding:10px 0;
		margin-top:0px;
		border-bottom: 1px dotted #d2d2d2;
		
	}
	
	#mycarousel li:first-child {border-top:none; padding-top:0px; margin-top:0px;}

	
	#mycarousel a{
		color:#000;
		font-size:12px;
		text-decoration:none;
		font-weight:bold;
	}
	#mycarousel a:hover{text-decoration:underline;}
	#mycarousel em{float:right;}
	#mycarousel img{width:70px;float:left;margin-right:5px;}
	.block-3 .wrap > div {
		float: left;
		width: 224px;
		height:240px;
		margin-right: 10px;
	}
	.block-3 img {
		margin-bottom: 5px;
	}
	.last {
		margin-right: 0px !important;
	}
	#gallery div.foto_cont{
		width:224px;
		height:180px;
		float:left;
		margin:10px;margin-left:0px;
		text-align:center;
	}
	div.foto{width:210px;height:160px; float:left; position:inherit;border: gainsboro 7px solid;}
	#gallery div.foto_cont span{ }
	.fotoimageLink{
		width:210px;
		height:160px;
		display: block;
	}
	
	.line-1{border-top:1px solid #dbd9d7;padding-top:20px;line-height:13px;}

.adrss dd {height:20px;}
.adrss dt {height:20px;}
.adrss dd span{
	padding-left:25px;
	line-height:16px;
}
.adrss dt span{
	padding-left:25px;
	line-height:16px;
}





.pagination{margin-top:10px;}
.pagination a{
    border: 1px solid #DAD7CB;
	border-left: 1px solid white;
    color: #645A44 !important;
    display: block;
    float: left;
    padding: 0px 10px;
	line-height:32px;
    text-decoration: none;
	background: transparent url(images/bg_btn.png) repeat-x 0 0;
}
.pagination a:hover{
	background-position: 0 -64px;
}
.pagination a:visited{color:#000;}
.pagination a#here{
	background-color:#fff; 
	font-weight:bold;
	background-position: 0 -128px;
}
.button-x{
	width:115px!important;
	padding: 10px!important;
	background: #4d5255!important;
	color: #ccc!important;
	height: auto!important;
}
.button-x:hover{
	background: #facc1a!important;
	color: #fff!important;
	text-shadow: none!important;
}
#waits{
	position:fixed;
	z-index:9999;
	margin:100px auto auto auto;
	left: 50%;
	margin-left: -50px;
	display:none;
}
label.error{color: #FF0000; padding-top:0px; padding-left:0px; width:auto;font-size:11px;display:block;clear:both;}
.valid_box {
    background: url("images/valid.png") no-repeat scroll 15px 10px #EDFCE9;
    border: 1px solid #CCEAC4;
    clear: both;
    margin: 10px 0 10px;
    padding: 20px 20px 15px 60px;
    width: auto;
}
.error_box {
    background: url("images/error.png") no-repeat scroll 15px 10px #FCE9E9;
    border: 1px solid #EAC7C7;
    clear: both;
    margin: 10px 0 10px;
    padding: 20px 20px 15px 60px;
    width: auto;
}

/*-----------------------
	 css
-------------------------*/
.left_column {
	width: 239px;
	float: left;
	border-right: 1px solid #e6e6e6;
}

.right_column {
	width: 660px;
	padding: 0 0 0 20px;
	float: left;
}



ul.left_menu {
	width: 239px;
	float: left;
	margin-left: 3px;
}

ul.left_menu li {
	float: left;
	margin: 0 0 0 8px;
}

ul.left_menu li a {
	width: 223px;
	height: 32px;
	float: left;
	line-height: 31px;
	padding: 0 0 0 25px;
	font-size: 13px;
	
	color: #000;
	background: url(images/left_menu_bg.jpg) 0 -32px no-repeat;
	text-decoration:none;
}

ul.left_menu li a:hover { background:url(images/left_menu_bg.jpg) 0 0 no-repeat; color:#fff; text-decoration:none;}



p em{
	color: #ccc;
	font-size: .86em;
}

.news_ticker {
	width:1170px; 
	position:relative; 
	background:#fff;
	margin:auto;
}

.block-1 div {
	height:40px;
	padding-top:10px;
	margin-left:120px;
}
.block-1 li>span {
display: block;
float: left;
height: 50px;
text-align: center;
padding-top: 10px;
margin-right: 12px;
font-family: 'Oswald', sans-serif;
font-size: 24px;
line-height: 36px;
color: #aeadad;
text-transform: uppercase;
}
.block-1 {
padding-bottom: 17px;
}

.duyurular{width:280px;}

/*------------------------------------------------------------
					
-------------------------------------------------------------*/




.iconx{
	width: 280px;
	height: 90px;
	
	font-family: "Tahoma"!important;
	font-size: 11px!important;
	display: block;
	position: relative;
	font-weight: bold;
	border: 1px solid #ccc;
	color: #800000!important;
	text-decoration: underline;
	
}


.shadow2{
	width:300px;
	height:12px;
	float:left;
	background: transparent url(images/kutu_shadow.png) no-repeat 0 bottom;
}



.cert input{
	width: 160px;
	border: 1px solid #990000;
	font-family: "Tahoma";
	font-size: 11px;
	padding: 2px;
}
.buton {
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: bold;
	background-color: #964141;
	color: #FFFFFF;
	cursor: pointer;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding: 2px;
	width:170px;
}

.iconx .text{
	float: left;
	margin: 0;
	color: #fff;
	font-family: "Arial";
	font-size: 13px;
	letter-spacing:0;
	font-weight: bold;
	padding: 3px 9px;
	background: rgba(-255,-255,-255,0.7);
	position: absolute;
	top: -26px;
	left: -1px;
	
	
}

.iconx img{
	float: left;
	margin: 0;
	
	padding: 5px 9px;

	position: absolute;
	top: 20px;
	left: 5px;
	
}
.iconx .text2{
        
		/*color: black;*/
	position: absolute;
	right: 15px;
	top: 20px;
	width: 200px;
	text-align: right;	
}
.iconx .text2:hover{text-decoration:underline;}
.iconx .text3{
        
		/*color: black;*/
	position: absolute;
	right: 15px;
	top: 10px;
	width: 200px;
	text-align: right;
	font-weight:normal;
	font-size:12px;
}
.icon{
	position: absolute;
	display: block;
	bottom: 16px;
	left: 5px;
}

.icom img{
	position: relative;
	vertical-align: bottom;
}

p.addDate{
	font-size:.733em;
	line-height:1.333em;
	color:#768696;
	margin:5px 0;
	
}

.dokCount{
	width:105px;
	float:left;
	display:inline-block;
	font-size:.733em;
	line-height:1.133em;
	padding-top:18px;
}

.dokDownload{
	width:152px;
	float:right;
	padding-top:12px;
	padding-right:18px;
}
div.downButonWrap{
	background:transparent url(images/download.png) no-repeat 0 0px;
	width:152px;
	height:39px;
}
div.downButonWrap:hover{background:transparent url(images/download.png) no-repeat 0 -38px;}
a.downButon{
	text-indent:-9999px;
	display:block;
	width:152px;
	height:39px;
}


/****************************************************************************/




/*-----------------------------------------------------------------
			LEMMON SLÝDER
/*-----------------------------------------------------------------*/

ul.home_products { width:1170px; float:left; margin:0; background:#fff;}
ul.home_products li { width:160px; height:211px; float:left; border-right:1px dotted #b2b2b2; margin:0 0 0 16px; padding:0 16px 0 0;}
ul.home_products li dl.product { width:100%; float:left; margin:0;}
ul.home_products li dl.product dt{ width:100%; float:left; margin:0; color:#62a527; font-size:14px;}
ul.home_products li dl.product dt.image{ width:100%; height:100px; float:left; margin:0;}
ul.home_products li dl.product dd{ width:100%; float:left; margin:0; color:#828282; font-size:11px;}
ul.home_products li dl.product dd a{ width:100%; float:left; margin:0; color:#828282; font-size:11px;text-decoration:none;}
ul.home_products li dl.product dd a:hover{ text-decoration:underline;}
ul.home_products li dl.product dd.price{ width:100%; float:left; margin:6px 0; color:#ef0062; font-size:14px;}

ul.product_list { width:1170px; float:left; margin:0; background:#fff;}
ul.product_list li { width:159px; height:211px; float:left; border-right:1px dotted #b2b2b2; margin:10px 0 20px 16px; padding:0 16px 0 0;}
ul.product_list li dl.product { width:100%; float:left; margin:0;}
ul.product_list li dl.product dt{ width:100%; float:left; margin:0; color:#62a527; font-size:14px;}
ul.product_list li dl.product dt.image{ width:100%; height:100px; float:left; margin:0;}
ul.product_list li dl.product dt.image img { width:90px; float:left; margin:0;}
ul.product_list li dl.product dd{ width:100%; float:left; margin:0; color:#828282; font-size:11px;}
ul.product_list li dl.product dd.price{ width:100%; float:left; margin:6px 0; color:#ef0062; font-size:14px;}

.content_bottom{
	width:1170px; 
	height:24px; 
	float:left; 
	margin:0;
	background:transparent url(images/content_box_bottom_shadow.png) top center no-repeat;
}




.newsgridwrap{
		width:525px;height:50px;background:#e8e8e8 url(images/haberler.jpg) no-repeat 0 0;margin:auto;
		margin-bottom:10px;
		-moz-border-radius: 5px; 
		-webkit-border-radius:5px; 
		-khtml-border-radius:5px;
		border-radius:5px;
		padding-left:140px;
		padding-top:6px;
	}
	
	.newsgrid{
		
	}
	
	.newsgrid ul li{
		display: inline;
		margin-right:50px;
	}
	.newsgrid em{margin-right:5px;}
	.newsgrid a{text-decoration:none;color:#000;font-weight:bold;}


.defaultText{
	font-size:10px;
}